<!-- Section: Pricing table -->
<div class="pricing-table">
	<img src="assets/images/noimage.png"  alt="user avatar" class ="udenar">
	<h6 class="mb-0 text-uppercase">UNIVERSIDAD DE NARIÑO</h6>
	<h6 class="mb-0 text-uppercase">FACULTAD DE INGENIERA</h6>
	<h6 class="mb-0 text-uppercase">INGENIERÍA DE SISTEMAS</h6>
	<h6 class="mb-0 text-uppercase">PASTO</h6>
	<hr/>
	<div class="row row-cols-1 row-cols-lg-3 justify-content-center">
		<!-- Free Tier -->
		<div class="col">
			<div class="card mb-5 mb-lg-0">
				<div class="card-header bg-danger py-3">
					<img src="assets/images/avatars/andres.png"  alt="user avatar" class="center">
					<h5 class="card-price text-white text-center">ANDRÉS<span class="term"></span></h5>
					<h6 class="card-title text-white text-uppercase text-center">URBANO</h6>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><i class='bx bx-user-pin me-2 font-18'></i>Código: 217036080</li>
						<li class="list-group-item"><i class='bx bx-phone me-2 font-18'></i>Celular: 3206457655</li>
						<li class="list-group-item"><i class='bx bx-envelope me-2 font-18'></i>Correo: andresurbanoar2001@gmail.com</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Plus Tier -->
		<div class="col">
			<div class="card mb-5 mb-lg-0">
				<div class="card-header bg-primary py-3">
					<img src="assets/images/avatars/marlon.png"  alt="user avatar" class="center2">
					<h6 class="card-price text-white text-center">MARLON<span class="term"></span></h6>
					<h5 class="card-title text-white text-uppercase text-center">ROSERO</h5>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><i class='bx bx-user-pin me-2 font-18'></i>Código: 2110341350</li>
						<li class="list-group-item"><i class='bx bx-phone me-2 font-18'></i>Celular: 3003726448</li>
						<li class="list-group-item"><i class='bx bx-envelope me-2 font-18'></i>Correo: mr.benavides11@gmail.com</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--end row-->
</div>
<!-- Section: Pricing table -->