.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10%;
  width: 100px;
  border: 5px solid rgb(135, 66, 66);
}

.center2 {
  border: 5px solid rgb(91, 122, 166);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10%;
  width: 100px;
  
}

.center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.center35{
  margin:1px;
  text-align:left;
  display:inline-block;
}

.udenar  {
  float: left;    
  margin: 0 10px 0 0;
  width: 100px;
  }